{# templates/layouts/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Your CMS - Empowering Content Management{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('dist/css/styles.css') }}">
               {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
   
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-100 font-sans">
        {% block body %}

        <!-- Header -->
        <header class="bg-blue-800 text-white py-4">
            <div class="container mx-auto flex justify-between items-center">
                <a href="#" class="text-xl font-semibold">Your CMS</a>
                <nav>
                    <a href="#" class="text-white mx-4 hover:text-gray-300">Home</a>
                </nav>
            </div>
        </header>

            <div id="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        <!-- Footer -->
<footer class="bg-gray-900 text-white py-8">
    <div class="container mx-auto text-center">
        <p>&copy; 2023 Your CMS. All rights reserved.</p>
    </div>
</footer>

    </body>
</html>

